<%= provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<h1>Questions</h1>

<%= link_to 'Create question', new_question_path, class: 'btn btn-primary btn-lg mb-4' %>

<% unless @questions.present? %>
  <%= render 'shared/empty' %>
<% end %>

<%= paginate @questions %>
<%= render @questions %>
<%= paginate @questions %>
