<style>
  .question_buttons{
    display: flex;
    flex-direction: row;
  }
</style>

<% currently_at 'Questions' %>

<h1 class="mb-4">Question<%= @question.id %></h1>

<h4><%= @question.title %></h2>
<section class="card-text">
  <time>
    <small><%= @question.formated_date %></small>
  </time>
  <div class="my-2">
    <%= sanitize @question.body %>
  </div>
</section>
<div class="question_buttons mb-4">
  <%= link_to 'Show', question_path(@question), class: 'btn btn-primary' %> 
  <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary mx-2' %>
  <%= button_to 'Destroy', question_path(@question), method: :delete, class: 'btn btn-danger' %>
</div>

<h2 class="mb-2">Write your answer</h2>

<%= render 'answers/form' %>

<% unless @question.answers.all.size == 0 %>
  <h2 class="mb-2 mt-4">Answers</h2>
<% end %>
<%= paginate @answers %>
<%= render partial: 'answers/answer', collection: @answers, as: :answer,
 locals: {question: @question} %>
<%= paginate @answers %>
